{% extends 'layout.html' %}

{% block content %}
    <div class="py-3 text-center">
        <h1>Magnetic Medical System Configuration</h1>
    </div>
    <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Location Info</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div class="col-sm-3">
                        <label for="location_x0" class="form-label">X0</label>
                        <input type="text" class="form-control" id="location_x0" placeholder="" value="0" required>
                        <div class="invalid-feedback">
                            Valid XO is required.
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <label for="location_y0" class="form-label">Y0</label>
                        <input type="text" class="form-control" id="location_y0" placeholder="" value="0" required>
                        <div class="invalid-feedback">
                            Valid XO is required.
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <label for="location_z0" class="form-label">Z0</label>
                        <input type="text" class="form-control" id="location_z0" placeholder="" value="0" required>
                        <div class="invalid-feedback">
                            Valid XO is required.
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div class="col-sm-3">
                        <label for="location_x" class="form-label">X</label>
                        <input type="text" class="form-control" id="location_x" placeholder="" value="0" required>
                        <div class="invalid-feedback">
                            Valid XO is required.
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <label for="location_y" class="form-label">Y</label>
                        <input type="text" class="form-control" id="location_y" placeholder="" value="0" required>
                        <div class="invalid-feedback">
                            Valid XO is required.
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <label for="location_z" class="form-label">Z</label>
                        <input type="text" class="form-control" id="location_z" placeholder="" value="0" required>
                        <div class="invalid-feedback">
                            Valid XO is required.
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div class="col-sm-3">
                        <label for="location_dxp" class="form-label">D XP</label>
                        <input type="text" class="form-control" id="location_dxp" placeholder="" value="60" required>
                        <div class="invalid-feedback">
                            Valid D_XP is required.
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <label for="location_dxn" class="form-label">D XN</label>
                        <input type="text" class="form-control" id="location_dxn" placeholder="" value="60" required>
                        <div class="invalid-feedback">
                            Valid D_XN is required.
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <label for="location_dyp" class="form-label">D YP</label>
                        <input type="text" class="form-control" id="location_dyp" placeholder="" value="60" required>
                        <div class="invalid-feedback">
                            Valid D_YP is required.
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div class="col-sm-3">
                        <label for="location_angle_xp" class="form-label">Angle XP</label>
                        <input type="text" class="form-control" id="location_angle_xp" placeholder="" value="45"
                               required>
                        <div class="invalid-feedback">
                            Valid D_XP is required.
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <label for="location_angle_xn" class="form-label">Angle XN</label>
                        <input type="text" class="form-control" id="location_angle_xn" placeholder="" value="45"
                               required>
                        <div class="invalid-feedback">
                            Valid D_XN is required.
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <label for="location_angle_yp" class="form-label">Angle YP</label>
                        <input type="text" class="form-control" id="location_angle_yp" placeholder="" value="45"
                               required>
                        <div class="invalid-feedback">
                            Valid D_YP is required.
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div class="col-sm-5">
                        <label for="location_delay" class="form-label">Delay</label>
                        <input type="text" class="form-control" id="location_delay" placeholder="" value="500" required>
                        <div class="invalid-feedback">
                            Valid Delay is required.
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <label for="location_numeric" class="form-label">Numeric 5</label>
                        <input type="text" class="form-control" id="location_numeric" placeholder="" value="0" required>
                        <div class="invalid-feedback">
                            Valid Numeric 5 is required.
                        </div>
                    </div>
                </li>
                 <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div class="col-sm-12">
                        <label for="system_target_ip" class="form-label">Target IP Address</label>
                        <input type="text" class="form-control" id="system_target_ip" placeholder="172.22.0.1" value="" required>
                        <div class="invalid-feedback">
                            Valid Target IP Address is required.
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">Third item</h6>
                        <small class="text-muted">Brief description</small>
                    </div>
                    <span class="text-muted">$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-success">
                        <h6 class="my-0">Promo code</h6>
                        <small>EXAMPLECODE</small>
                    </div>
                    <span class="text-success">−$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong>$20</strong>
                </li>
            </ul>

            <form class="card p-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Promo code">
                    <button type="submit" class="btn btn-secondary">Redeem</button>
                </div>
            </form>
        </div>
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Client Info</h4>
            <form class="needs-validation" novalidate>
                <div class="row g-3">
                    <div class="col-md-5">
                        <label for="server_client" class="form-label">Server Client</label>
                        <select class="form-select" id="server_client" required>
                            <option value="">Choose...</option>
                            <option>TCP Server</option>
                            <option>UDP Server</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid server client.
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="ip_address" class="form-label">IP Address</label>
                        <input type="text" class="form-control" id="ip_address" placeholder="192.168.0.1" required>
                        <div class="invalid-feedback">
                            IP Address required.
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="port" class="form-label">Port</label>
                        <input type="text" class="form-control" id="port" placeholder="8081" required>
                        <div class="invalid-feedback">
                            IP Address port required.
                        </div>
                    </div>


                    <div class="col-sm-5">
                        <div class="form-check">
                            <input id="system_time" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="system_time">Time</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-check">
                            <input id="system_linefeed" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="system_linefeed">Auto linefeed</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-check">
                            <input id="system_hex" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="system_hex">Hex</label>
                        </div>
                    </div>

                    <hr class="my-4">

                    <h4 class="mb-3">Parameter Setting</h4>

                    <div class="my-3">
                        <div class="form-check">
                            <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked
                                   required>
                            <label class="form-check-label" for="credit">Credit card</label>
                        </div>
                        <div class="form-check">
                            <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
                            <label class="form-check-label" for="debit">Debit card</label>
                        </div>
                        <div class="form-check">
                            <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
                            <label class="form-check-label" for="paypal">PayPal</label>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">First name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="lastName" class="form-label">Last name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="username" class="form-label">Username</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text">@</span>
                            <input type="text" class="form-control" id="username" placeholder="Username" required>
                            <div class="invalid-feedback">
                                Your username is required.
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
                        <input type="email" class="form-control" id="email" placeholder="you@example.com">
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="address2" class="form-label">Address 2 <span
                                class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                    </div>

                    <div class="col-md-5">
                        <label for="country" class="form-label">Country</label>
                        <select class="form-select" id="country" required>
                            <option value="">Choose...</option>
                            <option>United States</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid country.
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="state" class="form-label">State</label>
                        <select class="form-select" id="state" required>
                            <option value="">Choose...</option>
                            <option>California</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid state.
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="zip" class="form-label">Zip</label>
                        <input type="text" class="form-control" id="zip" placeholder="" required>
                        <div class="invalid-feedback">
                            Zip code required.
                        </div>
                    </div>
                </div>

                <hr class="my-4">

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="same-address">
                    <label class="form-check-label" for="same-address">Shipping address is the same as my billing
                        address</label>
                </div>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="save-info">
                    <label class="form-check-label" for="save-info">Save this information for next time</label>
                </div>

                <hr class="my-4">

                <h4 class="mb-3">Payment</h4>

                <div class="my-3">
                    <div class="form-check">
                        <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
                        <label class="form-check-label" for="credit">Credit card</label>
                    </div>
                    <div class="form-check">
                        <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
                        <label class="form-check-label" for="debit">Debit card</label>
                    </div>
                    <div class="form-check">
                        <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
                        <label class="form-check-label" for="paypal">PayPal</label>
                    </div>
                </div>

                <div class="row gy-3">
                    <div class="col-md-6">
                        <label for="cc-name" class="form-label">Name on card</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="" required>
                        <small class="text-muted">Full name as displayed on card</small>
                        <div class="invalid-feedback">
                            Name on card is required
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="cc-number" class="form-label">Credit card number</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="" required>
                        <div class="invalid-feedback">
                            Credit card number is required
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="cc-expiration" class="form-label">Expiration</label>
                        <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                        <div class="invalid-feedback">
                            Expiration date required
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="cc-cvv" class="form-label">CVV</label>
                        <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                        <div class="invalid-feedback">
                            Security code required
                        </div>
                    </div>
                </div>

                <hr class="my-4">

                <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
            </form>
        </div>
    </div>
{% endblock %}
