{% extends 'layout.html' %}

{% block content %}
    <div style="height: calc(100vh - 249px);display: flex;flex-direction: column;
}">


        <div style="margin-bottom: 0.5rem">Receive Data</div>
        <div class="receiveDataContainer" style="height: 100%">
            <div class="receiveDataView">
                System Output
            </div>

            <div class="receiveDataInput">

                <div>
                    <div style="display: flex;padding: 0.5rem 0">
                        <div class="col-sm-4" style="padding-right: 1rem">
                            <label for="location_x0" class="form-label">Strength</label>
                            <input type="text" class="form-control" id="location_x0" placeholder="" value="0.000" readonly>
                        </div>

                        <div class="col-sm-4" style="padding-right: 1rem">
                            <label for="location_x0" class="form-label">Frequency</label>
                            <input type="text" class="form-control" id="location_x0" placeholder="" value="0.000" readonly>
                        </div>

                        <div class="col-sm-4" style="padding-right: 1rem">
                            <label for="location_x0" class="form-label">Pitch</label>
                            <input type="text" class="form-control" id="location_x0" placeholder="" value="0.000" readonly>
                        </div>
                    </div>

                    <div style="display: flex;padding: 0.5rem 0">
                        <div class="col-sm-4" style="padding-right: 1rem">
                            <label for="location_x0" class="form-label">Direction</label>
                            <input type="text" class="form-control" id="location_x0" placeholder="" value="0.000" readonly>
                        </div>

                        <div class="col-sm-4" style="padding-right: 1rem">
                            <label for="location_x0" class="form-label">Conical</label>
                            <input type="text" class="form-control" id="location_x0" placeholder="" value="0.000" readonly>
                        </div>
                        <div class="col-sm-4" style="padding-right: 1rem"></div>
                    </div>
                </div>

                <div>
                    <div style="display: flex;padding: 0.5rem 0">
                        <div class="col-sm-4" style="padding-right: 1rem">
                            <label for="location_x0" class="form-label">X0</label>
                            <input type="text" class="form-control" id="location_x0" placeholder="" value="0.000" readonly>
                        </div>

                        <div class="col-sm-4" style="padding-right: 1rem">
                            <label for="location_x0" class="form-label">d_xp</label>
                            <input type="text" class="form-control" id="location_x0" placeholder="" value="60.000" readonly>
                        </div>

                        <div class="col-sm-4" style="padding-right: 1rem">
                            <label for="location_x0" class="form-label">angle_xp</label>
                            <input type="text" class="form-control" id="location_x0" placeholder="" value="45.000" readonly>
                        </div>
                    </div>

                    <div style="display: flex;padding: 0.5rem 0">
                        <div class="col-sm-4" style="padding-right: 1rem">
                            <label for="location_x0" class="form-label">Y0</label>
                            <input type="text" class="form-control" id="location_x0" placeholder="" value="0.000" readonly>
                        </div>

                        <div class="col-sm-4" style="padding-right: 1rem">
                            <label for="location_x0" class="form-label">d_xn</label>
                            <input type="text" class="form-control" id="location_x0" placeholder="" value="60.000" readonly>
                        </div>

                        <div class="col-sm-4" style="padding-right: 1rem">
                            <label for="location_x0" class="form-label">angle_xn</label>
                            <input type="text" class="form-control" id="location_x0" placeholder="" value="45.000" readonly>
                        </div>
                    </div>

                                    <div style="display: flex;padding: 0.5rem 0">
                        <div class="col-sm-4" style="padding-right: 1rem">
                            <label for="location_x0" class="form-label">Z0</label>
                            <input type="text" class="form-control" id="location_x0" placeholder="" value="0.000" readonly>
                        </div>

                        <div class="col-sm-4" style="padding-right: 1rem">
                            <label for="location_x0" class="form-label">d_yp</label>
                            <input type="text" class="form-control" id="location_x0" placeholder="" value="60.000" readonly>
                        </div>

                        <div class="col-sm-4" style="padding-right: 1rem">
                            <label for="location_x0" class="form-label">angle_yp</label>
                            <input type="text" class="form-control" id="location_x0" placeholder="" value="45.000" readonly>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
